<% include partials/header %>

<h1>Hello World</h1>

<img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2017/03/08/12/florence-knight.jpg?w968h681"></img>

<% include partials/footer %>